[submodule "emacs.d/structured-haskell-mode"]
	path = emacs.d/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
	ignore = dirty
[submodule "emacs.d/hindent"]
	path = emacs.d/hindent
	url = git@github.com:chrisdone/hindent
	ignore = dirty
